/* Boilerplate */
* {
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    background-image: url(Resume-bg.png);
    overflow: auto;
}

.content {
    width: 80%;
    max-width: 1000px;
    margin: 25px auto;
    background-color: aliceblue;
    opacity: 0.85;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* Font styles */

h1, .u-head-main {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem;
  }

h3, .u-head-tertiary {
  font-family: 'Jost', sans-serif;
}

.u-italic {
  font-style: italic;
}

.u-font-main { 
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; 
  font-size: 14px; 
  font-variant: normal; 
  line-height: 20px; }

.u-font-expand {
  font-size: 1.3rem;
}

.u-text-bold {
  font-weight: bolder;
}

/* Opal styles */


.opal-header {
  opacity: 1 !important;
}

  /* Utilities */

.flex {
    display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.opal-fix {
    flex: 50%;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.hide {
  display: none;
}

.unhide {
  display: block;
}

.u-nudge {
  margin-top: 15px;
}

/* Main Header Style */

.title {
  width: 80%;
  margin-top: 50px;
  max-width: 1000px;
  background-color: aliceblue;
  margin: 25px auto;
  opacity: 0.85;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ccc
  
}

.title-header {
  padding: 20px;
}

.bordered-box {
  margin: 15px;
  background:
    linear-gradient(to right, #ccc 2px, transparent 2px) 0 0,
    linear-gradient(to right, #ccc 2px, transparent 2px) 0 100%,
    linear-gradient(to left, #ccc 2px, transparent 2px) 100% 0,
    linear-gradient(to left, #ccc 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, #ccc 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, #ccc 2px, transparent 2px) 100% 0,
    linear-gradient(to top, #ccc 2px, transparent 2px) 0 100%,
    linear-gradient(to top, #ccc 2px, transparent 2px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-radius: 5px;
}

/* Nav tabs */


.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
  height: fit-content;
  padding: 20px;
  flex-wrap: wrap;
}

@media screen and (min-width: 770px) {
.nav {
    flex-wrap: nowrap;
  }
}
    

  .tablinks {
    width: 23%;
    height: 50px;
    margin: 20px 0;
    cursor: pointer;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

#About {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 770px) {
#About {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: fit-content;
}
}

.portrait-container {
  margin: 0 15px;
}

#self-portrait {
  width: 100%;
  max-width: 250px;
  height: auto;
}

/* Experience */

#Experience, #Education {
  border-top: 1px solid #ccc;
  padding-bottom: 20px;
  flex-direction: column;
}

.inner-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.desc {
  margin-top: 10px;
}
/* Skills */

#Skills {
  padding: 0;
  padding-bottom: 15px;
}


.skill-list {
  text-align: left;
  margin-left: 25px;
  margin-top: 25px;
}

.web-dev, .person-skills, .other-skills {
  width: 100%;
  padding-bottom: 7px;
}

.w-d-skills, .p-skills, .o-skills {
  padding-bottom: 15px;
}

#expandButton, #expandButtonTwo, #expandButtonThree {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: aliceblue;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
}

.w-d-button {
  display: flex;
  flex-direction: row;
}

.turn {
  transform: scaleY(-1)
}


  
  